<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="actions">
        <a href="/add">Add a product or category</a>
    </div>
    <div>
        <h1>Products</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
            <% for(var i=0; i < products.length; i++) { %>
                <tr>
                    <td>
                        <%= products[i].id_product %>
                    </td>
                    <td>
                        <%= products[i].product_name %>
                    </td>
                    <td>
                        <%= products[i].price %>
                    </td>
                    <td>
                        <%= products[i].name_category %>
                    </td>
                    <td class="actions">
                        <a href="/product-update/<%= products[i].id_product %>">Edit</a>
                        <a href="#" class="delete-product" data-id="<%= products[i].id_product %>">Delete</a>
                    </td>
                </tr>
                <% } %>
        </table>

        <h1>Categories</h1>
        <table>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
            </tr>
            <% for(var i=0; i < categories.length; i++) { %>
                <tr>
                    <td>
                        <%= categories[i].id_category %>
                    </td>
                    <td>
                        <%= categories[i].name_category %>
                    </td>
                    <td class="actions">
                        <a href="/category-update/<%= categories[i].id_category %>">Edit</a>
                        <a href="#" class="delete-category" data-id="<%= categories[i].id_category %>">Delete</a>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>

    <script>
        const productBtns = document.querySelectorAll(".delete-product");
        const categoryBtns = document.querySelectorAll(".delete-category");

        for (let i = 0; i < productBtns.length; i++) {
            const btn = productBtns[i];
            const id_product = btn.getAttribute("data-id");

            btn.addEventListener('click', function (e) {
                e.preventDefault()
                fetch("/delete-product", {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ id_product: id_product })
                }).then(function (res) {
                    location.href = "/"
                })
            })
        }

        for (let i = 0; i < categoryBtns.length; i++) {
            const btn = categoryBtns[i];
            const id_category = btn.getAttribute("data-id");

            btn.addEventListener('click', function (e) {
                e.preventDefault()
                fetch("/delete-category", {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ id_category: id_category })
                }).then(function (res) {
                    location.href = "/"
                })
            })
        } 
    </script>
</body>

</html>